/**
 * {{ tableBean.name }}Manager.js
 * Created by auto tool.
 */

'use strict';
var util = require('util');
var BaseManager = require(config.serverRoot + '/manager/base/BaseManager');

/**
 * {{ tableBean.comment }}管理器
 *
 * @constructor
 */
var {{ tableBean.name }}Manager = function () {
  var _this = this;


};

// 添加继承
util.inherits({{ tableBean.name }}Manager, BaseManager);

module.exports = new {{ tableBean.name }}Manager();