<!--
Author: W3layouts
Author URL: https://w3layouts.com/entrar-shadow-flat-form-template/
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--<title>JFrame Admin Login</title>-->
<!--<meta charset="utf-8">-->
<!--<link href="/css/login.css" rel='stylesheet' type='text/css'/>-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--&lt;!&ndash;<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,300,600,700'&ndash;&gt;-->
<!--&lt;!&ndash;type='text/css'>&ndash;&gt;-->
<!--&lt;!&ndash;<link rel="prefetch" href="build/main.css"/>&ndash;&gt;-->
<!--&lt;!&ndash;<link rel="prefetch" href="data.js"/>&ndash;&gt;-->
<!--&lt;!&ndash;<link rel="prefetch" href="build/ng-admin.min.js"/>&ndash;&gt;-->
<!--&lt;!&ndash;<link rel="prefetch" href="build/main.js"/>&ndash;&gt;-->
<!--</head>-->
<!--<body>-->
<link href="/css/login.css" rel='stylesheet' type='text/css'/>
<div class="main">
  <div class="login-form">
    <h1>Cidreroyal Admin Login</h1>

    <div class="head">
      <img src="/img/user.png" alt=""/>
    </div>
    <form>
      <div>
        <div style="color: red;text-align: center;">{{message}}</div>
        <input type="text" class="text" id="username" ng-model="user.username" placeholder="Username">
        <input type="password" id="password" ng-model="user.password" placeholder="Password">
      </div>
      <div class="submit">
        <input type="submit" value="Log In" ng-click="login();">
      </div>
      <p><a href="#">Hint: Admin / Password</a></p>
    </form>
  </div>
  <!-- start-copyright -->
  <div class="copy-right">
    <p>Template by <a href="#">JFrame</a></p>
  </div>
  <!-- end-copyright -->
</div>
<!--<script type="application/x-javascript">-->
<!--window.addEventListener("load", function () {-->
<!--setTimeout(hideURLbar, 0);-->
<!--}, false);-->
<!--function hideURLbar() {-->
<!--window.scrollTo(0, 1);-->
<!--}-->
<!--function login(e) {-->
<!--if (e) {-->
<!--e.prevenDefault();-->
<!--}-->
<!--window.localStorage.setItem('posters_galore_login', document.getElementById('username').value);-->
<!--window.location.href = "./index.html";-->
<!--return false;-->
<!--}-->
<!--</script>-->
<!--</body>-->
<!--</html>-->
